VERCEL_ENV=...
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=ey...
VITE_API_URL=http://localhost:3000
VITE_MAX_TOTAL_FILES_UPLOADED=30
VITE_UPLOAD_FILE_SIZE_LIMIT_MB=10
VITE_MAX_PARALLEL_FILE_UPLOADS=5
VITE_TEST_SUPABASE_SERVICE_ROLE_KEY=ey..
VITE_ADMIN_URL=http://localhost:5174
VITE_SENTRY_DSN=https://...
VITE_SENTRY_ORG=...
VITE_SENTRY_PROJECT=...
VITE_TRACE_PROPAGATION_TARGETS=http://127.0.0.1:3000,http://127.0.0.1:54321
SENTRY_AUTH_TOKEN=...
VITE_MATOMO_URL=...
VITE_MATOMO_SITE_ID=...
VITE_DEFAULT_DOCUMENT_PROCESSING_MODEL=...
VITE_FEATURE_FLAG_MCP_PARLA_ALLOWED=...