NODE_ENV=development

PORT=3100

# config for Mistral LLM
MISTRAL_API_KEY=...
MISTRAL_MAX_RPS=...

# config for Jina Embeddings
JINA_API_KEY=....
JINA_EMBEDDING_MODEL=...
JINA_EMBEDDING_DIMENSIONS=...
JINA_MAX_RPS=...
JINA_MAX_CONTEXT_TOKENS=...
JINA_MAX_DOCUMENTS_PER_REQUEST=...
JINA_CONCURRENT_BATCHES=...

# Database connection
SUPABASE_URL=...
SUPABASE_SERVICE_ROLE_KEY=...
SUPABASE_ANON_KEY=...
SUPABASE_JWT_KEY=...

# config for Langfuse
LANGFUSE_SECRET_KEY=...
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_BASEURL=...

MODEL_TEMPERATURE=...
DEFAULT_MODEL_IDENTIFIER=...
UPLOAD_FILE_SIZE_LIMIT_MB=50

# Sentry
SENTRY_DSN=...
SENTRY_AUTH_TOKEN=...
SENTRY_ORG=...
SENTRY_PROJECT=...

# Gotenberg
GOTENBERG_API_BASIC_AUTH_USERNAME=...
GOTENBERG_API_BASIC_AUTH_PASSWORD=...
GOTENBERG_URL=...
