NODE_ENV=development

PORT=3100

# config for Azure LLM
AZURE_LLM_API_KEY=...
AZURE_LLM_ENDPOINT_GPT_4O_MINI=...
AZURE_LLM_ENDPOINT_GENERIC=...

# config for OpenAI LLM
OPENAI_ENDPOINT="https://api.openai.com/v1"
OPENAI_API_KEY=sk-proj-...

# config for ollama
OLLAMA_API_ENDPOINT=...
OLLAMA_API_KEY=...

# config for Mistral LLM
MISTRAL_API_KEY=...
MISTRAL_API_ENDPOINT="https://api.mistral.ai/v1"
MISTRAL_MAX_RPS=30

# config for Jina Embeddings
JINA_API_KEY=....
JINA_EMBEDDING_MODEL="jina-embeddings-v4"
JINA_MAX_RPS=30

# limit file size for document upload to 50MB
UPLOAD_FILE_SIZE_LIMIT_MB=50

CHAT_COMPLETION_CONTEXT_TOKEN_LIMIT=30000
ESTIMATED_TOKENS_PER_WORD=1.34
ALLOW_DELETION=true

# Database connection
SUPABASE_URL=...
SUPABASE_SERVICE_ROLE_KEY=...
SUPABASE_ANON_KEY=...
SUPABASE_JWT_KEY=...

# config for Llamaparse
LLAMA_PARSE_TOKEN=...
MAX_PAGES_FOR_LLM_PARSE_LIMIT=512
MAX_PAGES_LIMIT=1000

# config for Langfuse
LANGFUSE_SECRET_KEY=...
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_BASEURL="https://cloud.langfuse.com"

#config for retry operation
MAX_RETRIES=2
RETRY_DELAY=1000

MODEL_TEMPERATURE=0.15
DEFAULT_MODEL_IDENTIFIER=mistral-small-latest

# Sentry
SENTRY_DSN=...
SENTRY_AUTH_TOKEN=...
SENTRY_ORG=...
SENTRY_PROJECT=...

# Gotenberg
GOTENBERG_API_BASIC_AUTH_USERNAME=...
GOTENBERG_API_BASIC_AUTH_PASSWORD=...
GOTENBERG_URL=...
