NODE_ENV=development

PORT=3100

# config for Mistral LLM
MISTRAL_API_KEY=...
MISTRAL_EMBEDDING_MODEL=...
MISTRAL_EMBED_MAX_CONTEXT_TOKENS=...
MISTRAL_EMBED_MAX_DOCUMENTS_PER_REQUEST=...
MISTRAL_EMBEDDING_DIMENSIONS=...
MISTRAL_MAX_RPS=...

# Database connection
SUPABASE_URL=...
SUPABASE_SERVICE_ROLE_KEY=...
SUPABASE_ANON_KEY=...
SUPABASE_JWT_KEY=...

# config for Langfuse
LANGFUSE_SECRET_KEY=...
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_BASEURL=...

MODEL_TEMPERATURE=...
SMALL_MODEL_IDENTIFIER=...
LARGE_MODEL_IDENTIFIER=...
DEFAULT_DOCUMENT_PROCESSING_MODEL=...
UPLOAD_FILE_SIZE_LIMIT_MB=10
PRESENCE_PENALTY=...
FREQUENCE_PENALTY=...

# Sentry
SENTRY_DSN=...
SENTRY_AUTH_TOKEN=...
SENTRY_ORG=...
SENTRY_PROJECT=...

# Gotenberg
GOTENBERG_API_BASIC_AUTH_USERNAME=...
GOTENBERG_API_BASIC_AUTH_PASSWORD=...
GOTENBERG_URL=...

# Redis
REDIS_URL=...

#Feature Flags
FEATURE_FLAG_MCP_PARLA_ALLOWED=...
MCP_PARLA_URL=...
FEATURE_FLAG_WEB_SEARCH_ALLOWED=...
BRAVE_SEARCH_API_KEY=...
BRAVE_SEARCH_MAX_RPS=...
BRAVE_SEARCH_API_URL=https://api.search.brave.com/res/v1/llm/context
