# 1Password secret references for the supababse staging server
ANSIBLE_HOST=op://vault/staging-server/hostname
ANSIBLE_USER=op://vault/staging-server/username
ANSIBLE_PORT=op://vault/staging-server/port
STACKIT_PROJECT_ID=op://vault/staging-stackit/project-id
STACKIT_SERVICE_ACCOUNT_JSON=op://vault/staging-stackit/service-account-json
ENV_FILE_REF=vault/staging-supabase/env-file
DOMAIN=staging.example.berlin
LETSENCRYPT_EMAIL=example@example.berlin
ANSIBLE_SSH_KEY=op://vault/staging-server/ssh-private-key-path
MIGRATIONS_SSH_PUBLIC_KEY=op://vault/staging-migrations/public-key
