VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=ey...
VITE_API_URL=http://localhost:3000
VITE_X_API_KEY=...
VITE_TEST_SUPABASE_SERVICE_ROLE_KEY=ey..
VITE_UPLOAD_FILE_SIZE_LIMIT_MB=10
VITE_PORT=5173
VITE_BASE_URL=http://localhost:${VITE_PORT}
VITE_RECOVERY_AUTH_RESET_PASSWORD_URL=${VITE_BASE_URL}/reset-password